.main {
  display: grid;
  grid-template-areas: "header header" "chat roulette" "menu menu";
  /* grid-template-columns: 150px 1fr;
  grid-template-rows: 50px 1fr 50px; */
  /* padding: 6rem; */
  min-height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 1rem;
  background: rgb(var(--header-rgb));
  box-shadow: 0 0 1rem 0 rgba(var(--header-rgb), 0.5);
}

.chat {
  grid-area: chat;
}

.roulette {
  grid-area: roulette;
}

.menu {
  grid-area: menu;
  display: flex;
  margin: auto;
}
